<div class="loading" *ngIf="isLoading === true">Loading&#8230;</div>
<div class="container">
  <div class="row text-center my-3">
      <div class="col-12">
          <h1>Coinbase Wallet Integration Demo</h1>
          <p>* Please read the information at the bottom of this page before using this application</p>
      </div>
  </div>
  <alert id="alert-1"></alert>

  <div class="row mb-3">
      <div class="col-3">&nbsp;</div>
      <div class="col-6">
          <div class="center-wrapper mb-3">
              <div class="row align-items-end">
                  <div class="col-1">&nbsp;</div>
                  <div class="col-10">
                      <p class="text-secondary">Connect to a wallet</p>
                      <div class="coinbase-wallet-wrapper">
                          <div class="wallet-wrapper">
                              <div class="connect" (click)="fun_Connect_Coinbase_Wallet()">
                                  <div class="text"><span *ngIf="isWalletLinkConnected === false">Connect</span> Coinbase Wallet</div>
                                  <div class="image">
                                      <img src="assets/images/icons/coinbase.svg" alt="Coinbase Icon" class="img-fluid img-wallet-icon">
                                  </div>
                              </div>
                              <div class="disconnect" (click)="fun_Disconnect_Coinbase()" *ngIf="isWalletLinkConnected === true">
                                  <div class="text text-danger">Disconnect</div>
                              </div>
                          </div>
                          <div class="user-address-wrapper mb-3" *ngIf="isWalletLinkConnected === true && coinbaseAddr != null">
                              <div class="user-address">Wallet Address is <span>{{coinbaseAddr}}</span></div>
                          </div>
                          <hr/>
                          <div>
                            <label>Check OXY Tokens Balance</label>
                            <input type="text" class="form-control mb-3" 
                                required
                                [(ngModel)]="oxy_bal_address" name="oxy_bal_address" placeholder="Enter the address to check balance">
                            <button type="button" class="btn btn-sm btn-primary btn-send-tokens" (click)="fun_Check_Oxy_Balance()">Check Oxy Token Balance</button>
                            <div>{{oxy_bal}}</div>
                          </div>
                          <hr/>
                          <div>
                            <label>Check Test Ethers Balance</label>
                            <input type="text" class="form-control mb-3" 
                                required
                                [(ngModel)]="eth_bal_address" name="eth_bal_address" placeholder="Enter the address to check balance">
                            <button type="button" class="btn btn-sm btn-primary btn-send-tokens" (click)="fun_Check_Eth_Balance()">Check Ethers Balance</button>
                            <div>{{eth_bal}}</div>
                          </div>
                          <hr/>
                          <div>
                            <label>Transfer OXY Tokens</label>
                            <input type="text" class="form-control mb-3" 
                                required
                                [(ngModel)]="oxy_to_address" name="oxy_to_address" placeholder="Enter the to Address you want to send tokens to">
                            <input type="text" class="form-control mb-3" 
                                required
                                [(ngModel)]="oxy_to_amount" name="oxy_to_amount" placeholder="Enter amount of tokens to transfer in ETH">
                            <button type="button" class="btn btn-sm btn-primary btn-send-tokens" *ngIf="isWalletLinkConnected === true" (click)="fun_Send_Tokens()">Transfer Oxy Tokens</button>
                            <button type="button" class="btn btn-sm btn-warning btn-send-tokens" *ngIf="isWalletLinkConnected === false" (click)="fun_Connect_Coinbase_Wallet()">Connect Wallet</button>
                          </div>
                          <hr/>
                          <div>
                            <label>Transfer Test Ethers</label>
                            <input type="text" class="form-control mb-3" 
                                required
                                [(ngModel)]="eth_to_address" name="eth_to_address" placeholder="Enter the to Address you want to transfer tokens to">
                            <input type="text" class="form-control mb-3" 
                                required
                                [(ngModel)]="eth_to_amount" name="eth_to_amount" placeholder="Enter amount of tokens to transfer in ETH">
                            <button type="button" class="btn btn-sm btn-primary btn-send-tokens" *ngIf="isWalletLinkConnected === true" (click)="fun_Send_Ethers()">Transfer Test Ethers</button>
                            <button type="button" class="btn btn-sm btn-warning btn-send-tokens" *ngIf="isWalletLinkConnected === false" (click)="fun_Connect_Coinbase_Wallet()">Connect Wallet</button>
                          </div>
                          <hr/>
                      </div>
                  </div>
                  <div class="col-1">&nbsp;</div>
              </div>
          </div>
      </div>
      <div class="col-3">&nbsp;</div>
  </div>
  <div class="row text-center mb-5">
    <div class="col-12">
      <div class="notes-wrapper">
        <p>This is a testing single page application to demonstrate the Coinbase Wallet Integration.</p>
        <p>In this application either we can check the balance of tokens/ethers and transfer tokens/ethers</p>
        <p>This app is interacting with a sample OXY Token Contract 0x59E45f34aF2F89AcD68F4Dfd2f7d8201E0E03Af9 deployed on the Ropsten Testnet Network.</p>
        <p>To test the transfer functionality, one should have the OXY Tokens / Test Ethers in their wallet address</p>
      </div>
    </div>
  </div>
</div>